<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tar server</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .collection {
            border: 0em;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Tar server</h1>
        <p>Serving from folder <strong>{{ .DirPath }}</strong></p>
        <p>Please click the link below to download the entire file or folder as a .tar file</p>
        <div class="collection">
            {{ range .DirInfo }}
                <a class="collection-item blue-grey-text"
                    href="/files/{{.Path}}">
                    <i class="material-icons blue-grey-text text-darken-3" 
                        style="padding-right: 5px">
                        {{ .IsFolder | BoolMapString "folder_open" "insert_drive_file" }}
                    </i>                    
                    <span class="new badge indigo"
                        data-badge-caption="">
                        {{ .Size | UnitSuffix }}
                    </span>
                    {{ .Path }}
                </a>
            {{ end }}
        </div>
    </div>
</body>
</html>
